
.wrapper {
    margin: 0 auto;
    width: 50%;
}

.message {
    border: 1px solid;
    padding: 5px;
    margin: 2px;
    background: darkgreen;
    border-color: lawngreen;
}

.message.warning {
    background: #900;
    border-color: red;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

ul.slysman-requirements-modules {
    list-style-type: square;
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
}

ul.slysman-requirements-modules li{
    margin-left: 10px;
}

ul.slysman-requirements-resources {
        list-style-type: square;
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
}

ul.slysman-requirements-resources li{
    margin-left: 10px;
}


div.slysman-requires-label {
    font-weight: bold
}



