/nbproject/private/
/nbproject/
/error.log
/access.log
/application/modules/user/configs/module.ini.dist
/application/configs/modules.ini
/application/configs/local.ini
/application/modules/sysmap/configs/local.ini
/data/cache/*