[submodule "library/Zend"]
	path = library/Zend
	url = git://github.com/zendframework/zf2.git
[submodule "library/Doctrine/Orm"]
	path = library/Doctrine/Orm
	url = git://github.com/doctrine/doctrine2.git
[submodule "library/Doctrine/Dbal"]
	path = library/Doctrine/Dbal
	url = git://github.com/doctrine/dbal.git
[submodule "library/Doctrine/Common"]
	path = library/Doctrine/Common
	url = git://github.com/doctrine/common.git
[submodule "library/Doctrine/Extensions"]
	path = library/Doctrine/Extensions
	url = git://github.com/beberlei/DoctrineExtensions.git
[submodule "library/Doctrine/Symfony/Component/Console"]
	path = library/Doctrine/Symfony/Component/Console
	url = git://github.com/symfony/Console.git
[submodule "library/Doctrine/Symfony/Component/Yaml"]
	path = library/Doctrine/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
